body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.complaint-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    background: white;
}